@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --dark-blue: #363f5f;
}

/* ====== Global ======*/
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}



/* ====== Header ======*/

body {
    background: #f0f2f5;
    width: 100vw;
    height: 100vh;
}

header {
    background: #2d4a22;
    padding: 3rem 0 10rem;
    text-align: center;
}

#logomarca {
    color: #fff;
    font-weight: 100;
}



/* ====== Main ======*/

.container {
    width: min(90vw, 800px);
    margin: auto;
}



/* ====== Titles ======*/

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}



/* ====== Balance ======*/

#balance {
    margin-top: -12rem;
}

#balance h2 {
    color: white;
}




/* ====== Cards ======*/

.card {
    background: white;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 0.50rem;
    color: var(--dark-blue);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.incomes{
    background: #49aa26;
    color: white;
}

.card.expenses {
    background: #ff0000;
    color: white;
}

.card.total {
    background: #2828e7;
    color: white;
}




/* ====== Table ======*/

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}


table thead th {
    background: white;
    padding: 1rem 2rem;
    text-align: left;
}

table tr {
    opacity: 0.7;
}

table tr:hover {
    opacity: 1;
}

table tbody td {
    background: white;
    padding: 1rem 2rem;
}

.description {
    color: var(--dark-blue);
}

.income {
    color: #12a454;
}

.expense {
    color: #e92929;
}



/* ====== Footer ======*/

footer {
    text-align: center;
    margin-bottom: 0;
    margin-top: 4vh;
}

a {
    text-decoration: none;
    justify-content: center;
}
